{% extends 'layout.html' %}
{% block title %}Add A New Book{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Add a new book</h1>
      <table class="table table-hover table-dark table-striped .w-auto">
      <tbody>
      <form action="{{ url_for('add') }}" method="POST">
        <ul>
          <li><label for="name">Title</label><input autocomplete="off" 
            autofocus name="title" placeholder="title" type="text" /></li>
          <li><label for="name">Author</label>
          <input autocomplete="off" autofocus name="author" placeholder="author" 
          type="text" /></li>
          <li><label for="name">Rating</label>
          <input autocomplete="off" autofocus name="rating" placeholder="rating" 
          type="text" /></li>
        </ul>
        <button type="submit">Add Book</button>
      </form>
    </div>
  </div>
  <p><a class="btn btn-warning btn-m" href="{{ url_for('home') }}">Return to home page</a></p>
</div>
{% endblock %}