{% extends 'layout.html' %}
{% block title %}Edit rating{% endblock %}

{% block content %}
<form action="{{ url_for('edit') }}" method="POST">
    <p>Book title: {{ book.title }}</p>
    <p>Current rating: {{ book.rating }}</p>
    <input hidden="hidden" name="id" value="{{book.id}}"/>
    <input autofocus name="rating" placeholder="New rating" type="text"/>
    <button type="submit">Change rating</button>
  </form>
  <p><a class="btn btn-warning btn-lg" href="{{ url_for('home') }}">Return to home page</a></p>
{% endblock %}