.jumbotron {
  background: linear-gradient(300deg, #00bfff, #A367B1, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
background-color: #211f1f;
color: white;
}

a {
    color: #ffc107;
}

/*Form for the add.html*/
#form {
  display: inline-grid;
  width: fit-content;
}

label {
  font-weight: bold;
}

/*Buttons on every page*/
.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*Home page*/
.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}
