body {
    background-color: #333;
    color: white;
    }
    
a {
    color: #ffc107;
}

#delete,#edit {
    padding: 0;
}
    
ul,li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: fit-content;
}

.jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    color: white;
    background-color: #333;
}
    
.space-above {
    margin-top: 20px;
    padding-top: 20px;
}